---
import Avatar from "@components/Avatar.astro";
import Skills from "@components/Skills.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import {skillsList} from "@data/skills-list";
import type {Technology} from "@models/technology";

const title = "Puriihuaman";
const description = "Puriihuaman - Portafolio personal";
---

<BaseLayout title={title} description={description}>
  <Hero/>

  <section class="min-h-screen max-w-5xl mx-auto px-4 space-y-6">
    <section class="py-4 space-y-8">
      <div class="flex flex-col-reverse items-stretch gap-6 py-4 md:flex-row">
        <Avatar/>

        <div class="space-y-8 flex-1">
          <h2 class="text-center font-bold text-3xl md:text-5xl">Sobre M铆</h2>

          <p>
            Desarrollador Back End con formaci贸n t茅cnica en Desarrollo de Sistemas de Informaci贸n.
            Experiencia en dise帽o y construcci贸n de API's REST seguras, robustas y escalables con
            Java y Spring Boot, integrando herramientas modernas como Kafka. He desarrollado
            soluciones freelance, incluido un sistema web de reservas para gesti贸n de stands.
            Tambi茅n he participado en hackathons multinacionales, fortaleciendo habilidades en
            trabajo en equipo, metodolog铆as 谩giles (SCRUM) y dominio de tecnolog铆as.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
        <article class="flex-1 text-center space-y-3 px-2 py-4 border border-zinc-900 shadow">
          <div class="space-y-2">
            <div class="text-4xl"></div>
            <strong>Formaci贸n</strong>
          </div>

          <p class="text-zinc-300">Desarrollo de Sistemas de Informaci贸n</p>
        </article>

        <article class="flex-1 text-center space-y-3 px-2 py-4 border border-zinc-900 shadow">
          <div class="space-y-2">
            <div class="text-4xl"></div>
            <strong>Experiencia</strong>
          </div>

          <p class="text-zinc-300">Freelance, Desarrollador Back-end (desarrollo de API's)</p>
        </article>

        <article class="flex-1 text-center space-y-3 px-2 py-4 border border-zinc-900 shadow">
          <div class="space-y-2">
            <div class="text-4xl"></div>

            <strong>Especialidad</strong>
          </div>

          <p class="text-zinc-300">Desarrollo Back-End</p>
        </article>
      </div>
    </section>

    <section class="py-4 space-y-8">
      <h3 class="text-center font-bold text-3xl md:text-5xl">Educaci贸n</h3>

      <div class="flex flex-col gap-6">
        <article class="space-y-3 p-4 shadow rounded-md border border-zinc-800">
          <header class="space-y-2">
            <div class="flex justify-between items-center">
              <h3 class="text-xl font-semibold">Desarrollo De Sistemas</h3>
              <span class="text-sm text-zinc-400">2017 - 2022</span>
            </div>

            <strong class="text-sm md:text-base">Instituto El Buen Pastor (IBP)</strong>
          </header>

          <p class="text-pretty">
            Carrera enfocada en formar profesionales en tecnolog铆as de la informaci贸n. El egresado
            en Desarrollo de Sistemas de Informaci贸n crea y prueba software seg煤n est谩ndares TI,
            gestiona su implantaci贸n y optimiza sistemas seg煤n requisitos del cliente. Propone
            soluciones innovadoras, elige tecnolog铆a eficiente y mejora procesos empresariales. Su
            formaci贸n en TIC, liderazgo, comunicaci贸n, 茅tica y biling眉ismo le permite aportar valor
            y asegurar el cuidado del medio ambiente.
          </p>

          <footer class="space-y-2">
            <p class="text-sm font-semibold text-zinc-300 md:text-base">
              Habilidades principales:
            </p>

            <ul class="list-disc ml-8 text-sm text-zinc-300">
              <li>L贸gica programaci贸n</li>
              <li>Trabajo en equipo</li>
              <li>Java, Scrum, SQL, JavaScript</li>
            </ul>
          </footer>
        </article>

        <article class="space-y-3 p-4 shadow rounded-md border border-zinc-800">
          <header class="space-y-2">
            <div class="flex justify-between items-center">
              <h3 class="text-xl font-semibold">Oracle Next Education</h3>
              <span class="text-sm text-zinc-400">Ene. - Actualidad</span>
            </div>

            <strong class="text-sm md:text-base">Alura Latam - Oracle</strong>
          </header>

          <p class="text-pretty">
            Programa educativo de Oracle en colaboraci贸n con Alura Latam que forma desarrolladores
            web full stack, integrando tecnolog铆as clave como JavaScript, React, HTML y CSS. El
            programa fortalece habilidades blandas, como comunicaci贸n efectiva y trabajo en equipo.
          </p>

          <footer class="space-y-2">
            <p class="text-sm font-semibold text-zinc-300 md:text-base">
              Habilidades principales:
            </p>

            <ul class="list-disc ml-8 text-sm text-zinc-300">
              <li>Habilidades blandas</li>
              <li>L贸gica de programaci贸n</li>
              <li>Scrum. - SQL, Java, Spring Boot, JavaScript, HTML, CSS</li>
            </ul>
          </footer>
        </article>
      </div>
    </section>

    <section class="py-4 pb-8 space-y-8">
      <h2 class="text-center font-bold text-3xl md:text-5xl">Tecnolog铆as</h2>

      <section class="skills-content_ space-y-6">
        {
          skillsList.map(({type, skills}: Technology) => (
            <Skills technologyType={type} skills={skills}/>
          ))
        }
      </section>
    </section>
  </section>
</BaseLayout>
