---
import Skills from "@components/Skills.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import "./_index.css";
import Hero from "@components/Hero.astro";
import { technologies } from "@data/technologies";
import type { Technology } from "@interfaces/ITechnology";

const content = await import(`@markdown/about-me.md`);

const { Content } = content;

const title = "Puriihuaman";
const description = "Puriihuaman - Portafolio personal";
---

<BaseLayout title={title} description={description}>
	<section class="about">
		<Hero />

		<Content title={title} />

		<section class="container skills">
			<h2>Tecnologías</h2>

			<sections class="skills-content">
				{
					technologies.map(({ type, skills }: Technology) => (
						<Skills technologyType={type} skills={skills} />
					))
				}
			</sections>
		</section>
	</section>
</BaseLayout>
