---
import {CustomError} from "@services/custom-error";

interface Props {
  error: CustomError;
}

const {error} = Astro.props;
---

<div
  class="p-4 text-center text-balance space-y-2 border text-rose-400 bg-rose-950 border-current rounded-md shadow-md">
  <h4>{error.name}</h4>

  <p>
    <strong class="text-xl">{error.statusCode}</strong> -&nbsp;
    {error.message}
  </p>
</div>
