---
import type { IRepository } from "@interfaces/IRepository";
import { Icon } from "astro-icon/components";
import "./project-card.css";

interface Props {
	repository: IRepository;
}

const changeName = (projectName: string) => {
	return projectName.trim().toLowerCase().replaceAll(/[-_]/g, " ");
};

const formateDate = (date: string): string =>
	String(new Date(date).toLocaleDateString());

const { repository } = Astro.props;
---

<article class="card-project">
	<div class="card-container">
		<p class="card-date">
			<span>{formateDate(repository.updated_at)}</span>
		</p>

		<div class="card-content">
			<h3 class="card-title">{changeName(repository.name)}</h3>

			<p>{repository.description}</p>
		</div>

		<footer class="card-footer">
			<div class="card-links">
				<a
					class="link"
					href={repository.homepage || ""}
					title={repository.name}
					aria-label="Go to project demo"
					rel="nofollow noopener noreferrer"
					target="_blank"
				>
					Demo
					<Icon name="link" />
				</a>

				<a
					class="github"
					href={repository.html_url}
					title={repository.name}
					aria-label="Go to project demo"
					rel="nofollow noopener noreferrer"
					target="_blank"
				>
					Código
					<Icon name="github" />
				</a>
			</div>

			<div class="card-icon">
				{repository.topics.map((topic: string): any => <Icon name={topic} />)}
			</div>
		</footer>
	</div>
</article>
