---
import { SKILLS_LIST } from '@data/skills-list';
import type { ISkill } from '@interfaces/ISkill';
import IconSvg from './IconSvg.astro';
---

<div class="_skills flex flex-wrap gap-2">
	{
		SKILLS_LIST.map((skill: ISkill): any => (
			<a
				class="relative flex-grow-0 flex items-center w-fit h-full text-center text-nowrap p-2 bg-slate-900 border border-slate-800 shadow rounded-md transition-colors duration-300"
				href={skill.href}
				title={skill.label}
				aria-label={skill.label}
				target="_blank"
				id={skill.id}
				rel="nofollow noopener noreferrer"
				data-tooltip-target="tooltip"
			>
				<IconSvg iconID={skill.iconId} iconSize="md" />

				<small
					class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-slate-50 transition-opacity duration-300 bg-slate-900 rounded-lg shadow-sm opacity-0 tooltip hover:visible hover:opacity-100 hover:-top-[90%] hover:z-50 hover:left-2/4 hover:-translate-x-1/2"
					id="tooltip"
					role="tooltip"
				>
					{skill.tech}
				</small>
			</a>
		))
	}
</div>
