---
import type { Skill } from "@interfaces/skill";
import type { TechnologyType } from "@interfaces/technology-type";
import "./skill.css";
import { Icon } from "astro-icon/components";

interface Props {
	technologyType: TechnologyType;
	skills: Skill[];
}

const { technologyType, skills } = Astro.props;
---

<div>
	<h3 class="title">
		{technologyType === "tool" ? "Herramientas" : technologyType}
	</h3>

	<ul class="technologies">
		{
			skills.map((link: Skill) => (
				<li class="technology">
					<details class="technology-details">
						<summary class="technology-summary">
							<Icon name={link.icon} class="technology-icon" />
							<span>{link.text}</span>
						</summary>

						<div class="technology-details-content">
							<h3>{link.text}</h3>

							<p>{link.description}</p>

							<ul class="technology-details-list">
								{link.tasks.map((task: string) => (
									<li>{task}</li>
								))}
							</ul>
						</div>
					</details>
				</li>
			))
		}
	</ul>
</div>
