---
import { SKILLS_LIST } from "@data/skills-list";
import type { ISkill } from "@interfaces/ISkill";
import IconSvg from "./IconSvg.astro";
---

<style>
	.skills {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-3);
	}

	.skill {
		flex-grow: 0;
		position: relative;
		display: flex;
		align-items: center;
		width: fit-content;
		height: var(--sizes-full);
		text-align: center;
		text-wrap: nowrap;
		padding: var(--space-2);
		background-color: var(--gray-900);
		border: 1px solid var(--gray-900);
		box-shadow: var(--shadow);
		border-radius: var(--radii-md);
		transition: var(--transition-property-common),
			var(--transition-easing-ease-in-out), var(--transition-duration-300);
	}

	.skill-tech {
		position: absolute;
		z-index: var(--zIndices-docked);
		display: inline-block;
		padding: var(--space-2) var(--space-3);
		font-size: var(--fontSizes-sm);
		visibility: hidden;
		opacity: 0;
		box-shadow: var(--shadow);

		&:hover {
			visibility: visible;
			opacity: 1;
		}
	}
</style>

<div class="skills">
	{
		SKILLS_LIST.map((skill: ISkill): any => (
			<a
				class="skill"
				href={skill.href}
				title={skill.label}
				aria-label={skill.label}
				target="_blank"
				id={skill.id}
				rel="nofollow noopener noreferrer"
				data-tooltip-target="tooltip"
			>
				<IconSvg iconID={skill.iconId} iconSize="md" />

				<small class="skill-tech" id="tooltip" role="tooltip">
					{skill.tech}
				</small>
			</a>
		))
	}
</div>
